@import 'normalize.css';

body {
    font-family: 'Karla', sans-serif;
    color: #293264;
    background-color: #F5F7FB;
}
.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.intro {
    text-align: center;
    padding: 1rem;
}
h1 {
    font-size: 2.5rem;
}
button {
    border: none;
    font-family: 'Karla', sans-serif;
    background: #4D5B9E;
    color: aliceblue;
    min-width: 200px;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 20px;
    margin: 1rem 0;
    cursor: pointer;
}
button:hover, button:active {
    background: #293264;
    transition: background-color .3s linear;
}

.questions {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}





.screen {
    transform: translate(0, 0);
    transition: transform .6s linear;
}
.screen-1.screen__hidden {
    transform: translate(-100vw, 0);
    position: absolute;
}
.screen-2 {

}
.screen-2.screen__hidden {
    transform: translate(100vw, 0);
    position: absolute;
}
.screen__hidden {
    transition: transform .6s linear;
}