@import 'normalize.css';


:root {
    --a-bg-selected: #D6DBF5;
    --a-bg-correct: #94D7A2;
    --a-bg-incorrect: #F8BCBC;
    --a-border: #4D5B9E;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Karla', sans-serif;
    color: #293264;
    background-color: #F5F7FB;
}
.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.header {
    text-align: center;
    padding: 1rem;
}
h1 {
    font-size: 2.5rem;
}
button {
    border: none;
    font-family: 'Karla', sans-serif;
    background: #4D5B9E;
    color: aliceblue;
    min-width: 200px;
    padding: 1rem .5rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 20px;
    margin: 1rem 0;
    cursor: pointer;
}
button:hover, button:active {
    background: #293264;
    transition: background-color .3s linear;
}

/* content */

.section {
    max-width: 680px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    position: relative;
    z-index: 1;
}

.questions {
    margin-bottom: 2rem;
}

.question {
    padding: 2rem 0;
    margin: 0;
    border-bottom: 1px solid #DBDEF0;
}
.question h2 {
    margin-top: 0;
    font-size: 1.25rem;
}

.answers {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.answers input[type="radio"] {
    position: fixed;
    opacity: 0;
}
.answers label {
    position: relative;
    z-index: 1;
    cursor: pointer;
    background: #F5F7FB;
    border: 1px solid #4D5B9E;
    border-radius: 15px;
    padding: .5rem 1rem;
    display: inline-block;
    text-align: center;
    font-size: .85rem;
    margin-right: 12px;
    font-weight: 500;
}
.answers label.selected,
.answers label:hover:not(.inactive, .correct) {
    background-color: var(--a-bg-selected);
    border-color: var(--a-bg-selected);
}
.answers label.correct {
    background-color: var(--a-bg-correct);
    border-color: var(--a-bg-correct);
}
.answers label.incorrect {
    background-color: var(--a-bg-incorrect);
    border-color: var(--a-bg-incorrect);
}
.answers label.inactive {
    opacity: 50%;
}

.results {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.results--outcome {
    margin: 1rem;
    font-weight: bold;
    font-size: 1.25rem;
}


.svg {
    width: 440px;
    position: fixed;
}
.svg--1 {
    
    bottom: -200px;
    left: -200px;
    transform: rotate(50deg);
}
.svg--2 {
    top: -200px;
    right: -200px;
    transform: rotate(50deg);
}

.loading {
    text-align: center;
}

.loading--text {
    font-style: italic;
    color: #5b7188;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}